In [6]:
#importando a biblioteca pandas
import pandas as pd

In [7]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [8]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [9]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [10]:
#Exivindo as 5 ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [11]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [13]:
#Alterando o tipo de dado de cada coluna
df["LojaID"] = df["LojaID"].astype("object")

In [14]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [15]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [16]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [21]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
125     Recife 2019-03-02   37.60    983     4
9       Recife 2019-01-01   11.85    980     7
65    Salvador 2019-01-01    3.39   1034     2
3       Recife 2019-02-10  160.54    981     3
32      Recife 2019-01-01   15.93    982     7
13   Fortaleza 2019-02-12  118.58   1003     4
92   Fortaleza 2019-01-01    3.49   1005     4
82      Recife 2019-01-01   29.55    981     6
68       Natal 2018-06-22  274.00    852     3
207      Natal 2019-01-02   46.70   1036     2
66      Recife 2019-01-01   14.59    983     7
66    Salvador 2019-01-01   70.20   1035     3
91   Fortaleza 2019-01-01   37.49   1002     1
48     Aracaju 2018-01-01   35.90   1521     8
119   Salvador 2019-03-02  136.37   1034     2